.wrapper-contacts{
  display: flex;
  justify-content: space-between;
  margin: 60px 50px 20px 50px;
}
.contacts-text h2{
  font-size: 36px;
  font-weight: normal;
}
.contacts-text p{
  font-size: 19px;
  margin-top: 20px;
  padding: 0 10px 0 0;
}
.contacts-text a{
  text-decoration: none;
  font-weight: bold;
  color: #000000;
  font-size: 18px;
}
.contacts-text a:hover{
  text-decoration: underline;
}
.contacts-img {
  display: flex;
  align-items: flex-end;
}
.contacts-form-wrapper{
  height: 415px;
  background: #80a938;
  border-radius: 10px;
  max-width: 1220px;
  margin: 50px auto 60px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contacts-form-wrapper h2{
  font-size: 36px;
  font-weight: bold;
  color: #ffffffff;
}
.contacts-form-wrapper p{
  font-size: 24px;
  color: #ffffffff;
  margin: 10px 0 15px 0;
}
.contacts-input{
  display: flex;
  flex-direction: row;
}
.form-info textarea{
  resize: none;
  height: 100px;
  border: none;
  margin: 10px  0 0 0;
  width: 590px;
  border-radius: 10px;
  padding: 16px 0px 0  16px;
  outline: none;
  color: #383838;
  font-size: 18px;
  font-family: arial;
}
.formname-contacts{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formname-contacts input[type=checkbox] {
    display:none;
}
.formname-contacts input[type=checkbox] + label {
    display: block;
    position: relative;
    margin: 11px 0 12px 30px;
    cursor: pointer;
    font-size: 18px;
    line-height: 19px;
    color: #ffffff;
}
.formname-contacts input[type=checkbox] + label span{
  border-bottom: 1px solid #ffffff;
}

.formname-contacts input[type=checkbox] + label:before {
    position: absolute;
    content: '';
    width: 13px;
    height: 13px;
    line-height: 12px;
    left: -21px;
    background: #ffffff;
    border: none;
    border-radius: 5px;
    top: 2px;
}
.formname-contacts input[type=checkbox]:checked + label:before{
    content: url(../img/check.png);
    color:#337AB7;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    /* border: 1px solid #337AB7; */
    background: #ffffff;
    border: none;
    border-radius: 5px;
}
.formname-contacts input[type=submit] {
    display: block;
    cursor: pointer;
    font-size: 20px;
    padding: 15px 30px;
    border: none;
    background: none;
    color: #FFF;
    outline: none;
    transition: .4s all;
    font-weight: bold;
    border: 1px solid #ffff;
    border-radius: 10px;
}
.formname-contacts input[type=submit]:hover{
  background: #91bd43;
}
.formname-contacts input[disabled] {
    opacity: .6;
    cursor: not-allowed;
}
